@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  
  --radius-3xl: 1.5rem;
  --radius-4xl: 2rem;
  --radius-5xl: 3rem;

  --color-green-primary: #16a34a;
  --color-blue-primary: #2563eb;
  --color-yellow-primary: #facc15;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-800 antialiased;
  }
}

